@import url(http://fonts.googleapis.com/css?family=Roboto:400,100italic,100,400italic);

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  p {
    color: rgb(80, 80, 80);
    font-size: 32px;
    font-style: italic;
    line-height: 1;
    margin-top: 0;
  }

  .fabric {
    color: rgb(200, 200, 200);
    font-size: 80px;
    font-weight: 100;
    line-height: 1.2;
    margin-top: 0;
    text-align: center;
  }
}

