@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

html {
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  & .fabric {
    color: rgb(60, 123, 214);
  }
}

